/*Architects.css*/
.Architects {
    text-align: center;
    padding: 20px;
    position: relative;
  }
.Architects  .search-container {
    text-align: center;
    background-color: rgba(234, 232, 228, 0.6);
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.Architects .search-container input {
  display: flex;
  flex: 1;
  background-color: transparent;
  padding: 10px;
  border: 0;
  width: 100%;
  outline: none;
  font-size: 18px;
}
.Architects .search-container .search-button {
  flex: 0.3 1;
  max-width: 110px;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #272727;

  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}
.Architects .search-container .search-button:hover{
  background-color: rgb(32, 31, 38);
}
  .building-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 40px 0;
  }
  
  .arch_card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 320px;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    border: none;
  }
  
  .arch_card-image-container {
    width: 100%;
    height: 300px;
  }
  
  .arch_card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  
  .arch_card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* لجعل المحتوى يأخذ المساحة المتبقية */
    text-align: left;
  }
  
  .arch_card h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
    margin-bottom: 15px;
    /* text-align: center; */
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .arch_card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .arch_card-button {
    background-color: #272727;
    color: #fff;
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
    align-self: center; 
    margin-top: auto; 
    border-radius: 15px;
    text-decoration: none;
  }
  
  .arch_card-button:hover {
    background-color: rgb(32, 31, 38);
  }
  