/*BuildingDetails.css*/

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  min-height: 100vh;
  background-color: #e5e4e2;
}

.details-card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}

.details_description_image {
  display: flex;
  align-items: center;
}
.details-image-container {
  display: flex;
}
.details-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
}

.details-title {
  font-size: 2rem;
  margin-top: 30px;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}
.hero_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  /* gap: 30px; */
  padding: 50px 0;
}
.hero_section h4 {
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .hero_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hero_section #buildingCarousel {
  height: 600px !important;
  cursor: pointer;
}
#buildingCarousel .carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100% !important;
}
.carousel-item img {
  object-fit: contain;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000;
}
.desc_map {
  display: flex;
  gap: 20px;
  max-width: 1066px;
  margin: 0 auto;
  margin-top: 60px;
}
.details-description {
  font-size: 1.2rem;
  color: #000;
  text-align: justify;
  /* max-width: 900px; */
  flex-basis: 60%;
}
.desc_map .map {
  /* width: 100%; */
  flex-basis: 40%;
}
.desc_map .leaflet-container {
  height: 300px !important;
  width: 100%;
}
.slider_360 {
  /* padding: 60px 0; */
  background: #596869;
  color: #fff;
  text-align: center;
}
.slider_360 .details-title {
  margin: 0;
  color: inherit;
  margin-bottom: 30px;
}
.view_360_div {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 550px;
  margin-top: 20px;
}
.view_360_div iframe {
  height: 100%;
}
.details-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  /* background-color: white; */
  color: #333;
  width: 45%;
  aspect-ratio: 1 / 1;
}
.details-table-container {
  padding: 50px 0;
  text-align: center;
}
.details-table-container h2 {
  font-weight: bold;
}
.details-table-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap; /* Allows tables to stack on smaller screens */
  gap: 2rem; /* Space between the tables */
}

.details-table {
  width: max-content; /* Table width adjusts to the widest <td> content */
  table-layout: auto; /* Allows the browser to calculate column widths automatically */
  border-collapse: collapse; /* Optional: Removes gaps between table cells */
}
/* Responsive Adjustments for Small Screens */
@media (max-width: 768px) {
  .details-table-row {
    flex-direction: column; /* Stacks tables vertically on smaller screens */
    gap: 1rem;
  }

  .details-table {
    width: 100%; /* Full width on small screens */
  }
}
.details-table th {
  width: 20%; /* Small width for table headers */
  text-align: left; /* Align text to the left for better readability */
  white-space: nowrap; /* Prevents text wrapping in headers */
  background: #cacaca;
  color: #3b3b3b;
  font-weight: bold;
}

.details-table td {
  width: 80%; /* Large width for table data */
  text-align: left; /* Align text to the left */
  word-wrap: break-word; /* Allows text to wrap if it's too long */
  background: #ffffffba;
}
.details-table th,
.details-table td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
}
.details-table li {
  list-style: none;
}
.details-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.details-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-btn.primary {
  background-color: #007bff;
  color: #fff;
}

.details-btn.primary:hover {
  background-color: #0056b3;
}

.details-btn.secondary {
  background-color: #6c757d;
  color: #fff;
}

.details-btn.secondary:hover {
  background-color: #5a6268;
}

.not-found {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin-top: 50px;
}
.architects-section {
  background: #aaba9f;
  color: #000;
  padding: 80px;
}
.architects-section span {
  font-weight: bold;
}
