/*Buildings.css*/
.Buildings {
    text-align: center;
    padding: 20px;
    position: relative;
  }
  .Buildings .filter_search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  .Buildings .city-select{
    height: 47px;
  }
  .city-select .css-13cymwt-control{
    height: 100%;
    background: rgba(234, 232, 228, 0.6);;
    border: 2px solid #ccc;
  }
.Buildings  .search-container {
    text-align: center;
    background-color: rgba(234, 232, 228, 0.6);
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0;
    
}
.Buildings .search-container input {
  display: flex;
  flex: 1;
  background-color: transparent;
  padding: 10px;
  border: 0;
  width: 100%;
  outline: none;
  font-size: 18px;
}
.Buildings .search-container .search-button {
  flex: 0.3 1;
  max-width: 110px;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #272727; 
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}
.Buildings .search-container .search-button:hover {
  background-color: rgb(32, 31, 38);
}
  .building-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 40px 0;
  }
  
  .filter-btn {
    margin-left: 10px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-btn:hover {
    background-color: #6a6a6a;
  }
  
  .filter-menu {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50px;
    right: 10px;
    display: none;
    z-index: 10;
  }
  
  .filter-menu.show {
    display: block;
  }
  
  .filter-menu button {
    display: block;
    margin: 5px 0;
  }
  